<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Projects</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Create New</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Upload</button>
          </div>
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            This week
          </button>
        </div>
      </div>

      <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>

      <h2>Section title</h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>Image</th>
              <th>Name</th>
              <th>Alias</th>
              <th>Github</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
              {{# each project}}
            <tr>
              <td><img src="/images/mean.jpg" height='100px' width="100px">
              </td>
              <td><a href="/admin/projects/{{this.alias}}">{{this.name}}</a></td>
              <td><a href="/admin/projects/{{this.alias}}"{{this.name}}></a></td>
              <td><a href="{{this.githubUrl}}">Link</a></td>
              <td</td>
            </tr>
            {{/each}}
           
          </tbody>
        </table>
      </div>
    </main>